<!DOCTYPE html>
<html>
<head>
    <title>Générateur TP Minecraft</title>
</head>
<body>
    <h1>Générateur de commandes TP Minecraft</h1>
    <form method="post">
        <label>Départ (x,y,z):</label><br>
        <input name="start" value="3194,77.00,400"><br><br>

        <label>Arrivée (x,y,z):</label><br>
        <input name="end" value="3183.30,77.00,377.14"><br><br>

        <label>Point de contrôle (x,y,z) <em>(laisser vide pour auto)</em>:</label><br>
        <input name="control" placeholder="auto"><br><br>

        <label>Décalage X du point de contrôle:</label><br>
        <input name="offset_x" value="0"><br><br>

        <label>Décalage Y du point de contrôle:</label><br>
        <input name="offset_y" value="0"><br><br>

        <label>Décalage Z du point de contrôle:</label><br>
        <input name="offset_z" value="6"><br><br>

        <label>UUID:</label><br>
        <input name="uuid" value="b968c6c4-03fb-4e6b-ac51-3afb62ac3de3"><br><br>

        <label>Vitesse (blocs/sec):</label><br>
        <input name="speed" value="4.317"><br><br>

        <label>Tick interval:</label><br>
        <input name="tick_interval" value="2"><br><br>

        <button type="submit">Générer</button>
    </form>
</body>
</html>
